@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box{
  background-color: white;

}

body{
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: red;
}
.profile-status h1 span{
  font-size: 1rem;
}
.profile-name{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;

}
.profile-picture{
  position: absolute;
  border-radius: 50%;
  margin:0 auto;
  left: 0;
  right: 0;
  bottom: -50px;
  height: 100px;
  width: 100px;
  overflow: hidden;
  background-color: white;

}


